<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Currency Exchange Rate Checker : User Registration</title>
	
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
	
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	
	<style type="text/css">
		body {
		  padding-top: 50px;
		  padding-bottom: 20px;
		}
	</style>
	
	<script>
	  	$(function() {
	    	$("#datepicker" ).datepicker({ dateFormat:"yy-mm-dd" });
	  	});
	</script>
</head>

<body>
	
	<!-- Top navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/login}" sec:authorize="!isAuthenticated()">Currency Exchange Rate Checker</a>
          <a class="navbar-brand" th:href="@{/userhome}" sec:authorize="isAuthenticated()">Currency Exchange Rate Checker</a>
        </div>
		
        <div id="navbar" class="navbar-collapse collapse">
        
        	<!-- When authenticated, show links for navigation -->
			<ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
				<li>
					<a href="#" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</a>
				</li>
				<li sec:authorize="hasRole('ROLE_ADMIN')">
					<a th:href="@{/admin}" th:inline="text">Admin</a>
				</li>
				<li>
					<form th:action="@{/logout}" method="post" class="form-horizontal" role="form" style="padding-top:11px;">
						<input type="submit" value="Logout" class="btn btn-default btn-sm" />
					</form>
				</li>
			</ul>
			
			<!-- Registration link for unauthenticated users -->
			<div sec:authorize="!isAuthenticated()">
				<a href="/login" class="btn btn-success navbar-right" style="margin-top: 10px;">Login</a>
			</div>
			
        </div>
      </div>
    </nav>

    <!-- Content -->
    <div class="jumbotron">
      <div class="container">
        <p><strong>Currency Exchange Rate Checker</strong> is a simple system to check current and historical currency exchange rates. The exchange rates are retrieved from Openexchange sytem.</p>
      </div>
    </div>
	
	<div class="container">
		<div class="container-fluid vcenter">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
					
						<div class="panel-heading">
							<strong class="">User Registration</strong>
						</div>
						
						<div class="panel-body">
							
							<form action="#" th:action="@{/register}" th:object="${user}" method="post" class="form-horizontal" role="form">
								
								<div class="form-group">
									<label for="login" class="col-sm-3 control-label">Username</label>
									<div class="col-sm-9">
										<input type="text" th:field="*{username}" class="form-control" placeholder="Username" required="" />
										<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
									</div>
								</div>
								
								
								<div class="form-group">
									<label for="login" class="col-sm-3 control-label">Name</label>
									<div class="col-sm-9">
										<input type="text" th:field="*{name}" class="form-control" placeholder="Name" required="" />
										<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
									</div>
								</div>
								
								<div class="form-group">
									<label for="login" class="col-sm-3 control-label">Password</label>
									<div class="col-sm-9">
										<input type="password" th:field="*{password}" class="form-control" placeholder="Password" required="" />
										<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
									</div>
								</div>
								
								<div class="form-group">
									<label for="login" class="col-sm-3 control-label">Email</label>
									<div class="col-sm-9">
										<input type="text" th:field="*{email}" class="form-control" placeholder="Email" required="" />
										<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
									</div>
								</div>
								
								<div class="form-group">
									<label for="login" class="col-sm-3 control-label">Date of Birth</label>
									<div class="col-sm-9">
										<input type="text" id="datepicker" th:field="*{dateOfBirth}" class="form-control" placeholder="Date of Birth" required="" />
										<div th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">Date of Birth Error</div>
									</div>
								</div>
								
								<div class="form-group">
									<label for="login" class="col-sm-3 control-label">Address</label>
									<div class="col-sm-9">
										<input type="text" th:field="*{address}" class="form-control" placeholder="Address" />
										<div th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</div>
									</div>
								</div>
								
								<div class="form-group">
									<label for="login" class="col-sm-3 control-label">ZIP Code</label>
									<div class="col-sm-9">
										<input type="text" th:field="*{zip}" class="form-control" placeholder="ZIP code" />
										<div th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}">ZIP code Error</div>
									</div>
								</div>
								
								<div class="form-group">
									<label for="login" class="col-sm-3 control-label">Country</label>
									<div class="col-sm-9">
										<select th:field="*{country}" class="form-control">
											<option th:each="coun : ${countries}" th:value="${coun.id}" th:text="${coun.name}">country</option>
										</select>
										<div th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Country Error</div>
									</div>
								</div>
								
								<div class="form-group last">
									<div class="col-sm-offset-3 col-sm-9">
										<input name="submit" type="submit" value="Register" class="btn btn-primary btn-sm" />
										<button type="reset" class="btn btn-default btn-sm">Reset</button>
									</div>
								</div>
							</form>
						</div>
						
						<div class="alert alert-success" role="alert" th:if="${registrationError != null}" th:text="${registrationError}"></div>
						<div class="alert alert-success" role="alert" th:if="${success != null}" th:text="${success}"></div>
						
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<!-- Footer -->
	<div class="jumbotron">
		<div class="container">
			<footer>
				<p>© 2016 Ziaul Chowdhury</p>
			</footer>
		</div>
	</div>
	
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  
</body>
</html>

